body {
    margin: 0;
}

p {
    font-family: 'Droid Sans', sans-serif;
}

.nav-bar {
    width: 100%;
    height: 100px;
    background: #EE6E3D;
}

.bottom-strip {
    height: 8px;
    background: #D3E494;
    margin-top: -1px;
}

.logo {
    float: left;
    padding: 16px 24px;
}

ul.nav-buttons {
    list-style: none;
    padding: 40px 25px;
    margin: 0;
    text-align: right;
}

ul.nav-buttons li {
    display: inline;
}

li {
    padding: 10px 22px;
    color: #F3ECDB;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    /*color: white;*/
}

.nav-buttons a {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 16px;
}


/* unvisited link */

a:link {
    text-decoration: none;
    color: #F3ECDB;
}


/* visited link */

a:visited {
    text-decoration: none;
    color: #F3ECDB;
}


/* mouse over link */

a:hover {
    text-decoration: underline;
    color: #7C7969;
}


/* selecteded link */

a:active {
    text-decoration: underline;
    color: #ef6a6f;
}

nav.nav-bar.fixed {
    position: fixed;
    z-index: 99;
    top: 0;
}

container {
    position: absolute;
    top: 100px;
}

.bg {
    width: 100%;
}

.bg img {
    widows: 100%;
}

.hero-value-prop {
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    color: #F3ECDB;
    font-size: 3em;
}

.hero-value-prop p {
    font-family: 'Roboto Slab', serif;
    color: white;
    width: 50%;
    margin: 20px auto;
    font-size: 1em;
}

.hero-support-cta a {
    display: inline-block;
    border: 1px solid #EE6E3D;
    padding: 10px 20px;
    text-decoration: none;
    color: #EE6E3D;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color ease .2s;
    margin-top: 40px; 
}

.hero-support-cta a:hover {
  background-color: white;
}

.callout-tile {
    width: 46%;
    height: auto;
    display: block;
    float: left;
    margin: 1%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #ccc;
}

.callout-tile h1 {
    text-align: center;
    color: #7c7969;
}

.callout-tile img {
    width: 55%;
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.callout-tile a {
    text-decoration: none;
    color: black;
}


.img-container {
    width: 100%;
    height: 320px;
}

.learn h1 {
    text-align: center;
    color: #7c7969;
    margin: 40px 0;
}

.hero-image img {
    margin: 0 auto;
    display: block;
}

article {
    width: 60%;
    margin: 40px auto;
}

.contact h1 {
    color: #7c7969;
}

.paragraph-highlight {
    text-transform: uppercase;
    color: #EE6E3D;
    font-weight: bold;
}

.fancy-input{
    /*max-width: 500px;*/
    width: 500px;
    background: #FFF;
    padding: 20px 30px 20px 10px;
    margin: 10px 0;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 8px;
    box-shadow: inset 0px 1px 3px 0px #C6C6C6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.fancy-button{
    width: 300px;
    background: #D3E494;
    text-align: center;
    padding: 17px 0;
    margin: 14px 0;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #FFF;
    text-shadow: 1px 1px 1px #C4D384;
    border:1px solid #DDD;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}








